html{
	background-color: black;
	font-family: 'San Francisco';
}
.progress{
	position: absolute;
	left:50%;
	margin-left: -150px;
	top:50%;
	margin-top: -4px;
}
.loader{
	width: 300px;
	height:8px;
	border-radius: 5px;
	background-color: none;
	position: absolute;
	z-index: 9999;
	display: none;
	
}
#loader_outer{
	border: 2px solid white;
}
#loader_inner{
	background-color: white;
	border-radius: 3px;
	width: 10%;
}
#image_blur_container{
	overflow: hidden;
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 10000;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
}
#filter_layer {
	width: 110vw;
	height: 110vh;
    filter: blur(30px) brightness(1.2);
    -webkit-filter: blur(30px) brightness(1.2);
    -moz-filter: blur(30px) brightness(1.2);
    -ms-filter: blur(30px) brightness(1.2);
    -o-filter: blur(30px) brightness(1.2);
    margin: -5vw -5vh;

}
.hud{
	color:white;
	z-index: 1000;
}
#lower_hud{
	position: fixed;
	opacity: 0.45;
	font-size: 14pt;
	right:20px;
	bottom: 20px;
	display: none;
}
header{
	color:inherit;
}
#insert_date{
	color:inherit;
}
#date_and_time{
	position: fixed;
	right: 20px;
	opacity: 0.45;
	display: none;
}
nav{
	position: relative;
	display: inline-block;
	color:inherit;
	right:0;
	top:0;
	margin:0;
	margin-left: 2px;
/*	right:50px;
	bottom: 50px;*/
}
ul{
	list-style-type: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}
.center_two_line {
    display             : -moz-inline-box;  /* FF2 or lower */
    display             : inline-block;     /* FF3, Opera, Safari */
    line-height         : normal;
    vertical-align      : middle;    
}
#description_placeholder{
	display: inline-block;
	width: 460px;
	height:187px;
}
#hud_info{
	display:none;
	position: absolute;
	width:400px;
	height:187px;
	padding: 30px;
/*	top:0;*/
	left:0;
	background-color: rgba(45,123,126,0.6);
}
#typed-strings{
	display: none;
}
#typed{
	width: inherit;
/*	position: absolute;*/
	display: none;
}
.menu_tab{
	background: url(../imgs/menu_tab.svg);
	background-size: 100%;
	width: 108px;
	height: 37px;
	line-height: 37px;
	background-repeat: no-repeat;
	margin-bottom: 5px;
}
.menu_text{
	font-size: 11px;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
}
.center_one_line{
	line-height: 37px;
}

/*Typed Cursor///////////////////////////////////////////////*/
.typed-cursor{
	color:white;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}