html{
/*	background-color: black;*/
	font-family: 'San Francisco';
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;    
}
/*////////////////GENERAL STLYES///////////////////////////////*/
.centered_text{
	text-align: center;
}
h1{
	margin: 0;
}
a{
	color:inherit;
	text-decoration: none;
}
.disable_draggable{
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	pointer-events: none;
}
.parent_table{
	display: table;
	margin: 0 auto;
}
.child_table{
	display: table-cell;
	vertical-align: middle;
	height: 100vh;
}
.button_container{
	display: inline-block;
	margin: 0 auto;
}
.button{
	display: inline-block;
	background-color: black;
	width:220px;
	height:42px;
	line-height: 42px;
}
.secondary{
	color: #686868;
	margin-right:10px;
}
.primary{
	color: #eeeeee;

}
/*////////////////AGREEMENT.HTML STLYES///////////////////////////////*/
#agreement_body{
	overflow: hidden;
}
#agreement_background{
	position: absolute;
	z-index: -1000000;
	min-width: 100vw;
	min-height: 100vh;
	left: 0;
	top:0;
	filter: blur(45px) brightness(0.8);
	-webkit-filter: blur(45px) brightness(0.8);
	-moz-filter: blur(45px) brightness(0.8);
	-ms-filter: blur(45px) brightness(0.8);
	-o-filter: blur(45px) brightness(0.8);
}
#welcome{
	margin-top:20px;
	margin-bottom: 15px;
}
svg{
	width:70px;
	height:70px;
	display: block;
	margin: 0 auto;
	margin-top: -100px;
}
#warning{
	max-width:900px;
	width: 40vw;
	min-width: 300px;
	margin: 0 auto;
	margin-bottom: 25px;
}

/*////////////////INDEX.HTML STLYES///////////////////////////////*/
.progress{
	position: absolute;
	left:50%;
	margin-left: -150px;
	top:50%;
	margin-top: -4px;
}
.loader{
	width: 300px;
	height:8px;
	border-radius: 5px;
	background-color: none;
	position: absolute;
	z-index: 9999;
	display: none;
	
}
#loader_outer{
	border: 2px solid white;
}
#loader_inner{
	background-color: white;
	border-radius: 3px;
	width: 10%;
}
#image_blur_container{
	overflow: hidden;
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: 10000;
}
#filter_layer {
	width: 110vw;
	height: 110vh;
	filter: blur(45px) brightness(0.8);
	-webkit-filter: blur(45px) brightness(0.8);
	-moz-filter: blur(45px) brightness(0.8);
	-ms-filter: blur(45px) brightness(0.8);
	-o-filter: blur(45px) brightness(0.8);
/*    filter: blur(30px) brightness(1.2);
    -webkit-filter: blur(30px) brightness(1.2);
    -moz-filter: blur(30px) brightness(1.2);
    -ms-filter: blur(30px) brightness(1.2);
    -o-filter: blur(30px) brightness(1.2);*/
    margin: -5vw -5vh;

}
.hud{
	color:white;
	z-index: 1000;
}
#lower_hud{
	position: fixed;
	opacity: 0.45;
	font-size: 14pt;
	right:20px;
	bottom: 20px;
	display: none;
}
header{
	color:inherit;
}
#insert_date{
	color:inherit;
}
#date_and_time{
	position: fixed;
	right: 20px;
	opacity: 0.45;
	display: none;
}
nav{
	position: relative;
	display: inline-block;
	color:inherit;
	right:0;
	top:0;
	margin:0;
	margin-left: 2px;
/*	right:50px;
	bottom: 50px;*/
}
ul{
	list-style-type: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}
.center_two_line {
    display             : -moz-inline-box;  /* FF2 or lower */
    display             : inline-block;     /* FF3, Opera, Safari */
    line-height         : normal;
    vertical-align      : middle;    
}
#description_placeholder{
	display: inline-block;
	width: 460px;
	height:187px;
}
#hud_info{
	display:inline-block;
	position: absolute;
	width:400px;
	height:187px;
	padding: 30px;
/*	top:0;*/
	left:0;
	background-color: rgba(45,123,126,0.6);
}

#typed{
	width: inherit;
/*	position: absolute;*/
	/*display: none;*/
}
.menu_tab{
	background: url(../imgs/menu_tab.svg);
	background-size: 100%;
	width: 108px;
	height: 37px;
	line-height: 37px;
	background-repeat: no-repeat;
	margin-bottom: 5px;
}
.menu_text{
	font-size: 11px;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
}
.center_one_line{
	line-height: 37px;
}
/*////////////////REGISTRATION.HTML STLYES///////////////////////////////*/
#registration_body{
	background-color: black;
	color:#40b549;
	height: 100vh;
	width:100vw;
}
.subtext{
	position: absolute;
	color:#40b549;
	left: 20px;
	top:5px;
	font-size: 8pt;

}
#registration_content{
	margin-top:-50px;
}
.registration_title{
	font-weight: 200;
	letter-spacing: 3.5px;
	margin-bottom: -7px;
	text-transform: uppercase;
}
.registration_body_text{
	font-weight: 100;
	margin:10px 0px;
	font-size: 9pt;
}
.registration_input_field{
	background-color: #171617;
	border: none;
	border-bottom: 2px solid #333333;
	min-width: 200px;
	width: 35vw;
	height: 30px;
	outline:none;
	box-sizing:border-box;
}
form{
	margin-left: -5px;
}
.input_type{
	color:#40b549;
	padding-left: 3%;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: red !important;
}

/*Typed Cursor///////////////////////////////////////////////*/
.typed-cursor{
	color:white;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}